.main-content {
    font-family: 'Inconsolata', monospace;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
}

.reddit-feedjs {
    margin-left: 8%;
    font-size: 16px;
    position: relative;
    overflow-y: scroll;
    width: 95%;
    height: 100vh;
}

.reddit-feed {
    top: 5%;
    position: absolute;
    left: 8%;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    color: #8be9fd!Important;
    font-family: 'Inconsolata', monospace!important;
}

.feed {
    margin: 10% 2% 10% 2%;
    padding-left: 4%;
    font-size: 14px;
    border-left: 4px solid #454759;
    top: 8%;
    position: relative;
    line-height: 1.5;
}

.white {
    color: white;
}

.yellow {
    color: #E4DB7A
}

.blue {
    color: #78C0D1;
}

.dark-blue {
    color: #6272A4;
}

.pink {
    color: #FF75C4;
}
a{
    color: #FF75C4;
}

.reddit-feed {
    color: #78C0D1;
}

.border {
    margin: 4px;
    border-left: 4px solid #454759;
}