.display-time{
    position: absolute;
    text-align: center;
    color: #6272A4;
    top: 55%;
    left: 30%;
    width: 50%;
    font-size: 92%;
}
#displayTime{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    color: #6272A4 ;
    font-size: 770%;
}
#suffix{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    color: #6272A4;
    font-size: 200%;
}
#displayDate{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
     position: relative;
     color: #6272A4;
     text-align: center;
     font-size: 20px;
}
.fa-question-circle{
    color: #FFB86C;
}
.linkMessage{
    position: absolute;
    text-align: center;
    color: #6272A4;
    top: 82%;
    left: 30%;
    width: 50%;
    font-size: 92%;
}

button{
    background-color: Transparent;
    outline:none;
    border: none;
    cursor:pointer;
}
.fa-times-circle{
    color: #FFB86C;
}
.orange{
    color: #FFB86C;
}

    /* @media (max-width: 1500px){
        #suffix{
            left: 62%;
            top: 67%;
        }
        #displayTime{
            top: 56%;
            left: 36%;
        }
        #displayDate{
            left: 46%;
        }
    }
    @media (max-height: 660px){
        #displayTime{
            top: 50%;
            left: 35%;
        }
        #suffix{
            left: 70%;
            top: 63%;
        }
    } */
